In [53]:
%load_ext autoreload
%autoreload 2
import collections
from pprint import pprint as print
from datetime import datetime, date

import pandas as pd
import matplotlib.pyplot as plt

from automoticz.app import create_app
from automoticz.tasks import *
from automoticz.utils.analytics import *
from automoticz.utils.home import *

app = create_app()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

/home/devaerial/Ingenerka/Source/automoticz-server/.venv/lib/python3.5/site-packages/dynaconf/loaders/base.py:95: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  'ENCODING_FOR_DYNACONF', 'utf-8'

In [54]:
# Log
date_from = date(2019, 4, 2)
with app.app_context():
    log_records = fetch_logs_for_all_devices(date_from)
print(len(log_records))

6442

In [56]:
# Insert log records to database
from automoticz.extensions import db
from automoticz.models import UsageLog
with app.app_context():
    db.engine.execute(UsageLog.__table__.insert(), log_records)

In [55]:
user_idx = 1
day = 1
with app.app_context():
    weekday_schedule = make_users_weekday_schedule(log_records)
    weekday_schedule_pd = schedule_to_pandas(weekday_schedule)
weekday_schedule_pd[user_idx][day]

,00:04,00:05,00:07,00:14,01:39,01:40,01:41,05:18,05:19,05:20,...,23:21,23:22,23:29,23:34,23:36,23:37,23:38,23:39,23:41,23:52
idx,,,,,,,,,,,,,,,,,,,,,
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0,0.0,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,0.0,1.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,0.0,NaN,0.0,NaN,NaN
26,1.0,0.0,NaN,NaN,NaN,0.0,0.0,1.0,1.0,0.0,...,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN